<div class="toolbar">
	<a ng-click="snapshot()" ng-disabled="!newSnapshotAvailable" class="btn btn-default">
		<span class="glyphicon glyphicon-camera"></span>
		Snapshot
	</a>
	<a ng-click="clearAll()" class="btn btn-default">
		<span class="glyphicon glyphicon-trash"></span>
		Clear All
	</a>
	<a ng-click="onShowOnlyChanges()" ng-class="{'active': showOnlyChanges}" class="btn btn-default">
		<span class="glyphicon glyphicon-filter"></span>
		Only Changes
	</a>
	<div class="btn-group">
		<a ng-click="compareMode = 0" ng-class="{'active': compareMode == 0}" class="btn btn-default">Compare to Previous</a>
		<a ng-click="compareMode = 1" ng-class="{'active': compareMode == 1}" class="btn btn-default">to All Previous</a>
	</div>
</div>

<div class="setups">
	<div ng-repeat="setup in setups" class="setup">
		<table class="group">
			<thead class="group-key">
				<tr>
					<th>
						<div contenteditable="true">{{ setup.title }}</div>
					</th>
				</tr>
			</thead>
		</table>
		<table ng-repeat="group in setup.groups" class="group">
			<thead class="group-key">
				<tr>
					<th ng-if="!$parent.$index" ng-bind="group.key" class="value" colspan="2"></th>
					<th ng-if="$parent.$index">
						<div class="btn-group btn-group-xs">
							<a class="btn btn-default">
								<span ng-click="moveSetupTo(setup, -1)" class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="btn btn-default">
								<span ng-click="removeSetup(setup)" class="glyphicon glyphicon-remove"></span>
							</a>
							<a ng-if="$parent.$parent.$index < setups.length - 1" class="btn btn-default">
								<span ng-click="moveSetupTo(setup, 1)" class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</th>
				</tr>
			</thead>
			<tbody ng-repeat="section in group.value" class="section">
				<tr class="section-key">
					<th ng-bind="$parent.$parent.$index ? '&nbsp;' : section.key" class="value" colspan="2"></th>
				</tr>
				<tr app-parameter ng-repeat="parameter in section.value" class="parameter">
					<th ng-if="!$parent.$parent.$parent.$index" ng-bind="parameter.key" class="key"></th>
					<td app-parameter-value class="value"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
